{% extends "layout1.html" %}
{% block title%}
    Index
{% endblock%}


{% block content%}
<div class="row" id="desc" >
  <div class="col-12">
    <div class="text-center" >
        <h2>Discover and review your favourite books.</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="text-right">
      <a href="/register" class="btn btn-info" role="button">Register</a>
    </div>
  </div>
  <div class="col">
    <div class="text-left">
      <a href="/login" class="btn btn-info" role="button">Log In</a>
    </div>
  </div>
</div>
{% endblock%}
