{% extends "layout.html" %}
{% block title%}
    Profile
{% endblock%}

{% block content %}

<div class="row">
  <div class="col-12">
    <h3>Your reviews </h3>
    <div class="list-group">
       {% for row in reviews_list %}
       <a href='/book_info/{{row.book_isbn}}' class="list-group-item">
           <h4>{{row.title}}</h4>
           <h5>by {{row.author}}</h5>
           <h6>Rating: {{row.rating}} out of 5 stars; <br>
           Review: "{{row.review}}"</h6>
          </a>
       {% endfor %}
    </div>
  </div>
</div>

{% endblock%}
